extends layout

block content
    .col-md-offset-3.col-md-6.transparent-grey.container
        if group
            .row.panel-body
                h1 #{group.name}
                h3 Code:
                    b  #{group.code}
                .table-responsive
                    table.table.table-euro.table-no-border
                        thead
                            tr
                                th Members
                        tbody
                            each user in group.Users
                                tr
                                    td= user.username
        else
            .row.panel-body
                h1 Join a group
                p Enter the access code below
                if joinErrors
                    .alert.alert-danger.alert-dismissible
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
                        each error in joinErrors
                            p
                                strong Error: 
                                = error
                form.form-horizontal(method="post", action="/group/join")
                    .form-group
                        label(for="groupCode").control-label.sr-only Enter code
                        .col-sm-9
                            input#groupCode(type="text", name="groupCode", placeholder="Enter code").form-control.input-lg
                        .col-sm-3
                            button.btn.btn-block.btn-primary.btn-lg Submit
            .row.panel-body
                a(href="#create-group-form" aria-expanded="false" aria-controls="create-group-form" data-toggle="collapse")
                    h4 Create a new group
                .collapse(class=createErrors ? "in" : "")#create-group-form
                    if createErrors
                        .alert.alert-danger.alert-dismissible
                            button.close(type="button" data-dismiss="alert" aria-label="Close")
                                span(aria-hidden="true") &times;
                            each error in createErrors
                                p
                                    strong Error: 
                                    = error
                    form.form-horizontal(method="post", action="/group/create")
                        .form-group
                            label(for="groupName").control-label.col-sm-3 Group name:
                            .col-sm-6
                                input#groupName(type="text", name="groupName", placeholder="Group name").form-control.input-md
                            .col-sm-3
                                button.btn.btn-block.btn-success.btn-md Create
