extends layout

block content
    .container.theme-showcase(role="main")
        .row.transparent-grey
            .col-md-12
                h3  Results
        .row.space-6
        .row
            .col-md-12.no-gutter-right
                .pull-right
                    input#auto-refresh(type="checkbox" name="auto-refresh" 
                            data-label-text="<span class='glyphicon glyphicon-refresh'></span>")
        .row.space-6
        #results
    script(src='/javascripts/update.js')
    script(src='/javascripts/tweets.js')
