extends layout

block content
    .container.theme-showcase(role="main")
        p.lead Welcome to #{title}! Cast your votes <a href='/vote'>here</a>.

        p
            h2 Results
            .table-responsive
                table.table.table-euro.table-no-border
                    thead
                        tr
                            th Country
                            th Score
                    tbody
                        - each row in results
                            tr
                                td
                                    span
                                        img.flag(src="/images/"+row.country+".png")
                                    |#{row.country}
