extends layout

block content
    .container.theme-showcase(role="main")
        .page-header
            h1= title
        p.lead Welcome to #{title}
        p Cast your votes <a href='/vote'>here</a>

        p
            h2 Results
            .table-responsive
                table#results.table.table-euro.table-no-border
                    thead
                        tr
                            th Country
                            th Score
                    tbody
                        - each row in results
                            tr
                                td #{row.country}
                                td #{row.score}
    script(src='/nowjs/now.js')
    script(src='/javascripts/update.js')