extends layout

block content
    .col-md-offset-4.col-md-4
        .page-header 
            h1 Login
        if error
            .alert.alert-danger.alert-dismissible
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                p
                    strong Error: 
                    = error
        if message
            .alert.alert-success.alert-dismissible
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                p= message
        form(method="post",action="/login")
            .form-group
                label(for="username").sr-only.control-label Username
                input#username.form-control.input-lg(
                    type="text",name="username",placeholder="Username")
            .form-group
                label(for="password").sr-only.control-label Password
                input#password.form-control.input-lg(
                    type="password",name="password",placeholder="Password")
            .form-group
            button.btn.btn-lg.btn-vote.btn-block Submit
