extends layout

block content
    .page-header
        h1 Vote

    p Drag and drop to rank the countries in order of preference!
    script(src="javascripts/jquery-ui-1.10.4.custom.min.js")
    script(src="javascripts/jquery.ui.touchpunch.min.js")

    form#vote-form(action="/")
        ul#sortable.list-unstyled
            - each country in countries
                li(id=country.id)
                    p.bg-info #{country.name}
        p
            input(type="submit" value="Submit").btn.btn-primary.btn-lg

    script(src="javascripts/vote-form.js" type="text/javascript" charset="utf-8")
