extends layout

block content
    .page-header
        h1 Vote

    p Drag and drop to rank the countries in order of preference!
    script(src="javascripts/jquery.nestable.js")

    form#vote-form(action="/")
        .dd#nestable
            ul.dd-list
                - each country in countries
                    li(data-id=country.id).dd-item
                        .dd-handle #{country.name}
        p
            input(type="submit" value="Submit").btn.btn-primary.btn-lg

    script(src="javascripts/vote-form.js" type="text/javascript" charset="utf-8")
