body {
  padding: 50px;
  color: #dddddd;
  background-image: url('/images/bg-joinus.jpg');
}

a {
  color: #AB00D6;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute !important; /* Slight hack as navbar-static-top doesn't seem to work */
}

.navbar-transparent .navbar-brand {
  color: #dddddd;
}

.navbar-transparent .navbar-nav > li > a {
  color: #dddddd;
}

.navbar-transparent .navbar-nav > li > a:hover, .nav > li > a:focus {
  background-color: #AB00D6;
}

.table-euro {
  background-color: rgba(0, 0, 0, 0.5);
}

.table-euro > thead > tr > th {
  background-color: rgba(255, 255, 255, 0.7);
  color: #AB00D6;
}

.table-no-border > thead > tr > th,
.table-no-border > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table-no-border > thead > tr > td,
.table-no-border > tbody > tr > td,
.table-no-border > tfoot > tr > td {
  border-top: none;
}

.table-euro > thead > tr > th,
.table-euro > tbody > tr > th,
.table-euro > tfoot > tr > th,
.table-euro > thead > tr > td,
.table-euro > tbody > tr > td,
.table-euro > tfoot > tr > td {
  font-size: 24px;
}


/* Nestable things */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  /*max-width: 600px; */
  max-width: 100%;
  list-style: none;
  font-size: 26px;
  line-height: 40px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 40px;
  font-size: 26px;
  line-height: 40px;
}

.dd-handle {
  display: block;
  height: 50px;
  margin: 5px 0;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}
.dd-handle:hover {
  color: #AB00D6;
  background: rgba(255, 255, 255, 0.7);
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 40px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align:
  center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: rgba(0,0,0,0.0);
  border: 1px dashed #000000;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                       -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                            linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 50px 50px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
/* Items being dragged */
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: #AB00D6;
}
/* Shadow */
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
